.HOME{
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    background-image: url('../assets/mais.webp');
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
    height: 80vh;
    padding: 0.5em 2em 0em 2em;
    align-items: center;
}

.HOME .partieGauche .name{
    color: rgb(8, 78, 8);
    font-weight: 900;
    font-size: 0.6em;
    display: flex;
    justify-content: center;
}
.HOME .partieGauche{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1em;
    width: 35%;
    height: 60%;
    background-image: url('../assets/semi.jfif');
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
    box-shadow: 0 0 10px rgb(193, 204, 193);
   
}
.HOME .partieGauche .title{
    font-size: 2em;
    font-weight: 900;
    margin-top: 1em;
    margin-left: 1em;
    text-align: center;
    color: rgb(8, 78, 8);
}
 .HOME .partieGauche .description{
    color: black;
    font-size: 1em;
    text-align: center;
}
.HOME .partieDroite{
    width: 50%;
    /* background-color: green; */
    display: flex;
    align-items: end;
    color: black;
}
.HOME .partieDroite .descriptionDroite{
    text-align: center;
}
.HOME .PartieDroite .imageHome img{
    width: 100%;
}


@media (max-width: 768px) {
    .HOME {
        /* Empiler les éléments */
        flex-direction: column; 
        height: auto; 
        /* Padding supérieur pour compenser le header fixe */
        padding: 6em 1em 2em 1em; 
        text-align: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
    }

    .HOME .partieGauche {
        /* Pleine largeur */
        width: 100%; 
        height: auto;
        padding: 1em;
        margin: 0 auto; 
        /* Rendre le bloc de texte plus lisible sur l'image de fond */
        background-image: none; 
        background-color: rgba(255, 255, 255, 0.9); 
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    
    .HOME .partieGauche .title{
        font-size: 1.5em; 
        margin: 0.5em 0 0 0;
    }

    /* Masquer la partie droite si elle contient une grande image qui surcharge le mobile */
    .HOME .partieDroite {
        display: none; 
    }
}